body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(201, 179, 197);
    padding: 5px;
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

nav a:hover {
    font-weight: bold;
}

footer {
    background-color: rgb(233, 147, 214);
    padding: 20px;
    color: aliceblue;
    text-align: center;
}

h2, h3, h4 {
    background-color: rgb(189, 50, 177);
    color: rgb(255, 255, 255);
}

.judul {
    background-color: rgb(255, 0, 234);
    font-size: 20px;
    padding: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.konten {
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgb(196, 196, 196);
}

.img {
    width: 10px;
}